<?xml version="1.0"?>
<robot name="table_top" xmlns:drake="http://drake.mit.edu">
  <link name="table_top_link">
    <inertial>
      <inertia ixx="2.5062" ixy="0" ixz="0" iyy="0.90625" iyz="0" izz="3.4"/>
      <mass value="30"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </inertial>
    <visual name="visual">
      <geometry>
        <box size="0.6 1.0 0.05"/>
      </geometry>
      <material>
       <color rgba="0.9 0.8 0.7 0.5"/>
      </material>
    </visual>
    <collision name="collision">
      <geometry>
        <box size="0.6 1.0 0.05"/>
      </geometry>
      <drake:proximity_properties>
        <drake:compliant_hydroelastic/>
        <drake:hydroelastic_modulus value="1e7"/>
        <drake:mu_dynamic value="0.5"/>
        <drake:hunt_crossley_dissipation value="1.25"/>
      </drake:proximity_properties>
    </collision>
  </link>
  <frame name="top_surface" link="table_top_link" xyz="0 0 0.025" rpy="0 0 0"/>
</robot>
